#header
    .wrapper
        .content
            #headTop
                //a.more(href="javascript:;")
                //    img.more-img(style="position: relative;top: 22px;left: 16px;", src="/images/head/more.png", alt="")

                .more-content(style="width: 280px; position: absolute;top: 60px;background: #fff; display: none")
                    ul
                        li
                            a(href="http://188f73t741.51mypc.cn:33665/FIS/sso.action?ipHash=7221e78520bd32faa404518ed72c7024&username=5a94796700c1f74eec39577e0f1fe621" target="_blank")
                                img(style="margin-top: 15px;", src="/images/head/图片6.png", alt="金融管理信息系统")
                                p(style="margin-top: 10px;") 金融管理信息系统
                        li
                            a(href="" target="_blank")
                                img(style="margin-top: 15px;", src="/images/head/图片1.png", alt="投资管理系统")
                                p(style="margin-top: 10px;") 投资管理系统
                        li
                            a(href="http://172.16.3.38:7777/netrep/index.jsp" target="_blank")
                                img(style="margin-top: 15px;", src="/images/head/图片2.png", alt="财务报表系统")
                                p(style="margin-top: 10px;") 财务报表系统
                        li
                            a(href="" target="_blank")
                                img(style="margin-top: 15px;", src="/images/head/图片3.png", alt="资金管理系统")
                                p(style="margin-top: 10px;") 资金管理系统
                        li
                            a(href="" target="_blank")
                                img(style="margin-top: 15px;", src="/images/head/图片4.png", alt="会议管理系统")
                                p(style="margin-top: 10px;") 会议管理系统
                        li
                            a(href="" target="_blank")
                                img(style="margin-top: 15px;", src="/images/head/图片5.png", alt="财务系统")
                                p(style="margin-top: 10px;") 财务系统

                        li
                            a(href="http://114.112.90.40:10056/home/index.html#index" target="_blank")
                                img(style="margin-top: 15px;width: 28px;height: 28px;", src="/images/head/知识.png", alt="知识产权")
                                p(style="margin-top: 10px;") 知识产权
                        li
                            a(href="http://test2.livedata.cn:8087/pms" target="_blank")
                                img(style="margin-top: 15px;width: 28px;height: 28px;", src="/images/head/投资.png", alt="产业投资")
                                p(style="margin-top: 10px;") 产业投资

                a#logo(href="/index")
                    img(src="/images/head/logo.png", height="30")

                #navWrapper(style="margin-left: 15%")
                    .content
                        ul.nav.movedx(data-movedx-mid="1")
                            li.navitem
                                a(href="/index", target="_self" class=menuClass==1?'active':'')
                                    span(data-title="首页") 首页
                            li.navitem
                                a(href="/news/list", target="_self" class=menuClass==2?'active':'')
                                    span(data-title="新闻中心")
                                    | 新闻中心
                            li.navitem
                                a(href=personalPortal, target="_self")
                                    span(data-title="个人门户") 个人门户
                            li.navitem
                                // a(href="http://oa.zgcgroup.com.cn/webzfz/index.jsp?usercode=yangjing", target="_self") 我的邮箱
                                a(href="http://mail.263.net", target="_self") 我的邮箱

                            li.navitem
                                a(href="javascript:;", target="")
                                    span(data-title="常用链接") 常用链接
                                    i.fa.fa-angle-down

                                ul.subnav
                                    li
                                        a(href="" + personalPortal, target="_self") 交流园地
                                    li
                                        a(href="http://www.zgcgroup.com.cn", target="_self") 集团网站

                                    li
                                        a(href="http://zgcgroup.21tb.com/login/login.init.do", target="_self") 网络学院

                                    li
                                        a(href="http://172.30.30.2:8088/ESAIS/flex/index.jsp?nodecode=Z32701", target="_self") 档案查询

                                    li
                                        a(href="http://nc.zgcgroup.com.cn/login.jsp?nodecode=E32709", target="_self") NC门户

                                    li
                                        a(href="http://www.beijing.gov.cn/?nodecode=Z32708", target="_self") 首都之窗

                                    li
                                        a(href="http://fgw.beijing.gov.cn", target="_self") 市发改委

                                    li
                                        a(href="http://www.bjeit.gov.cn/?nodecode=Z32704", target="_self") 市经信委

                                    li
                                        a(href="http://kw.beijing.gov.cn", target="_self") 市科委

                                    li
                                        a(href="http://sww.beijing.gov.cn/?nodecode=Z32705", target="_self") 市商委

                                    li
                                        a(href="http://zgcgw.beijing.gov.cn/zgc/tpxw64/179253/index.html", target="_self") 中关村管委会


                    #search-header.searchGroup
                        .search_wrap
                            .searchBox
                                .searchFormGroup
                                    -var timeText = new Date().getDate();
                                    span(style="position: absolute; top: 15px; left: 16px; color: #fff;") #{timeText}
                                    img#time(style="float: left; vertical-align: text-bottom; margin: 1px 8px;", src="/images/head/time2.png", alt="")
                                    input(type="text", id="searchTxt", aria-label="搜索", placeholder="搜索", autocorrect="off", autocapitalize="off", autocomplete="off", spellcheck="false")
                                    .searchSub
                                        span(style="position: relative;top: 8px;")
                                            img(src="/images/head/search.png", alt="搜索")
                                        i.fa.fa-search(aria-hidden="true")
                                    span(style="float: left; color: #fff; margin: 8px 0px 0px 6px;") 在线：#{uc} 人
                                    img.personalCenter(style="float: left; margin: 0px 0px 0px 8px; position: relative;top: 20%; cursor: pointer;", src="/images/head/personalCenter.png", alt="")

                                .searchClose
                                    i.fa.fa-times(aria-hidden="true")

                    #openBtn.fl.btn
                        .lcbody
                            .lcitem.top
                                .rect.top

                            .lcitem.center.hide
                                .rect.bottom

                            .lcitem.bottom
                                .rect.bottom

            .login(style="display: none")
                .login1(style="display: none;")
                    img#QR-code(src="/images/二维码.png", alt="")

                    div
                        p 扫码登录

                        img(src="/images/QRCode.png", alt="")

                        p 打开移动app系统扫一扫登录

                .login2(style="")
                    img#QR-code1(src="/images/账号登录.png", alt="")

                    div.userinfo
                        p 账号密码登录
                        div
                            p
                                img(style="position: absolute; top: 77px;left: 45px;", src="/images/账号密码登录/用户名.png", alt="")
                                input.account(type="text")
                            p
                                img(style="position: absolute; top: 133px;left: 45px;", src="/images/账号密码登录/密码.png", alt="")
                                input.password(type="text")
                            button(onclick="login()") 登录#{user}

            .clear
    script(type="text/javascript", src="/javascripts/jquery.cookie.js")
    script.
        var uid = $.cookie('uid'); // 读取 cookie
        if (uid) {
            var uname = $.cookie('uname'); // 读取 cookie 姓名
            var oname = $.cookie('oname'); // 读取 cookie 部门名称
            var html = '<p>用户信息</p><div style="line-height: 36px; color: #fff; font-size: 14px;"><p>' + uname + '</p><p>' + oname + '</p><button onclick="signOut()">退出登录</button></div>';
            $('.userinfo').html(html);
        }
        function signOut() {
            alert('退出登录');
        }
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/auth/jwt/token",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({username: "lilu", password: "123456"}),
                dataType: "json",
                success: function (data) {
                    // $('#resText').empty();   //清空resText里面的所有内容
                }
            });
        }
