extends layout

block content
  include head
  div(class="content")

    div(style="text-align: center; margin: 7% 0 3% 0px;")
      h1 #{title}
      img(src="/images/list_.png")
      p(style="float: right;")
        a.btn.btn-default(href="/newsList") 列表
    div
      each obj in news
        article.article.article--big(style='width: 32%;float: left;margin-left: 1%;height: 380px;')
          .aticle__image
            a(href="/"+key+"/details?type="+title+"&id=" + JSON.parse(obj).articleId)
              img(style='border-radius: 3px 3px 0 0; height: 256px; width: 100%;', src=''+JSON.parse(obj).img)
          .aticle__content
            a(href="/"+key+"/details?type="+title+"&id=" + JSON.parse(obj).articleId)
              p(style='font-size: 1.2em;font-weight: 700;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;') #{JSON.parse(obj).title}
              p(style='overflow: hidden;height: 47px;text-overflow: ellipsis;' title=""+JSON.parse(obj).about) #{JSON.parse(obj).about}

    div(style='clear:both;')
    link(rel='stylesheet', href='/stylesheets/myPagination.css')
    script(src='/javascripts/myPagination.js')
    .pagination
      #pagination.pagination
    script.
        window.onload = function () {
            new Page({
                id: 'pagination',
                pageTotal: '#{count || 1}', //必填,总页数
                pageAmount: 10,  //每页多少条
                dataTotal: parseInt('#{dataTotal}'), //总共多少条数据
                curPage: parseInt('#{page}'), //初始页码,不填默认为1
                pageSize: 10, //分页个数,不填默认为5
                showPageTotalFlag: true, //是否显示数据统计,不填默认不显示
                showSkipInputFlag: true, //是否支持跳转,不填默认不显示
                getPage: function (page) {
                    location.href = "/#{key}/list?page="+page;
                }
            })
        }
  include foot
